<launch>
  <arg name="agent" default="ddpg"/>
  <arg name="run_type" default="train"/>
  <arg name="load_ep" default=""/>
  <node pkg="project" type="run_agent.py" name="$(arg run_type)" output="screen" args="$(arg run_type) $(arg agent) $(arg load_ep)"/>
  <node pkg="project"  type="moving_obst_agent.py" name="moving_obstacle" output="screen" />
</launch>
